input[type=text], input[type=date], input[type=password], input[type=email], select, textarea{
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    border: 2px solid #424242;
    font-size: 1.2em;
    border-radius: 8px;
    box-sizing: border-box;
}


input[type=submit]{
    width: 90%;
    padding: 6px 10px;
    margin: 8px 0;
    background-color: #0d101a;
    border: 2px solid #424242;
    font-size: 1.2em;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
}